.expenses-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem !important;
  font-family: "Josefin Sans", sans-serif;
}

.expenses-chart h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.date-picker {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  font-family: "Josefin Sans", sans-serif;
}

.date-picker:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.bar-chart {
  width: 100%;
  height: 400px;
}

@media (max-width: 600px) {
  .expenses-chart {
    padding: 10px;
  }

  .expenses-chart h2 {
    font-size: 1.5rem;
  }

  .date-picker {
    width: 100%;
    font-size: 0.9rem;
  }

  .bar-chart {
    height: 300px;
  }
}
