.password-strength-bar {
    height: 5px;
    background-color: #e0e0e0;
}

.password-input-fields {
    display: flex;
}

.strength {
    height: 5px;
}

.strength-0 {
    width: 0%;
    background-color: red;
}

.strength-1 {
    width: 20%;
    background-color: red;
}

.strength-2 {
    width: 40%;
    background-color: orange;
}

.strength-3 {
    width: 60%;
    background-color: yellow;
}

.strength-4 {
    width: 80%;
    background-color: lightgreen;
}

.strength-5 {
    width: 100%;
    background-color: green;
}

@media screen and (max-width: 550px) {
    .password-input-fields {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
}

@media screen and (max-width: 350px) {
    .password-input-fields {
        width: auto;
    }
}