.identify__container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 6rem;
}

.identify__form {
    display: flex;
    flex-direction: column;
}

.identify__form button {
    padding: 10px;
    background-color: #228B22;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.identify__form button:hover {
    background-color: #175f17;
}

.identify__message {
    margin-top: 16px;
    font-weight: bold;
    color: #333;
}
