.pockets__page {
    margin-top: 5rem !important;
    font-family: "Josefin Sans", sans-serif;
}

.pockets__page-info {
    background-color: #2a373a;
    border-radius: 5px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
}

.pockets__balance p {
    margin: 0;
    font-size: 1.2rem;
}

.pockets__add-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pockets__add-btns button {
    font-family: "Josefin Sans", sans-serif;
    margin: 5px;
    align-self: flex-end;
}

.pocket {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #87ceeb;
}

.pocket h3 {
    margin-top: 0;
    font-size: 1.4rem;
    color: #2a373a;
}

.pocket__list-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #2a373a;
    border-radius: 5px;
}

.pocket p {
    margin: 0;
}

.pocket__list-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.edit-button {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: fit-content;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-pocket-form,
.edit-pocket-form,
.add-money-form {
  display: flex;
  flex-direction: column;
}

.add-pocket-button,
.edit-pocket-button {
  margin-top: 10px;
}

.delete-button {
  color: red;
  border-radius: 5px;
}

.pockets__page-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-pocket-form h3 {
    margin-top: 0;
}

.pocket__date-input {
    padding: 0.5rem;
    font-family: "Josefin Sans", sans-serif;
    border: 1px solid #888888cc;
}

.edit-pocket-form h3 {
    margin-top: 0;
}

.edit-pocket-button, .edit-pocket-button, .pockets__add-money {
    font-family: Josefin Sans, sans-serif;
    margin-top: 0.5rem;
}

.edit-pocket-button:hover,
.edit-pocket-button:hover,
.pockets__add-money:hover {
    background-color: #bebebe;
}

.add-money-form h3 {
    margin-top: 0;
}