/* Make the navbar fixed at the top of the page */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fbfae8;
    z-index: 1000;
    box-shadow: 0px 1px 5px -4px #000;
}

/* Ensure the navbar content is positioned properly */
.navbar__absolute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* Style for the title */
.navbar h1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0.5rem 0;
    cursor: pointer;
}

/* Style for the "Genius" part of the title */
#genius {
    color: #FFC700;
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    font-size: 40px;
}

/* Style for the buttons container */
.navbar__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

/* Style for the login button */
.login__button {
    background-color: #228B22;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
}

/* Style for the register button */
.register__button {
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
}

/* Hover effect for the login button */
.login__button:hover {
    background-color: #175f17;
}

/* Hover effect for the register button */
.register__button:hover {
    background-color: #c5c4c4;
}

/* Responsive design for screen sizes 550px or less */
@media (max-width: 550px) {
    .navbar__absolute {
        padding: 0;
    }

    .navbar__absolute h1 {
        font-size: 28px;
        margin-left: 0.2rem;
    }
    
    .register__button {
        display: none;
    }

    .login__button {
        margin: 0;
        margin-right: 0.5rem;
        padding: 0.4rem 0.8rem;
    }

    #genius {
        font-size: 26px;
    }

    .login__button, .register__button {
        width: 100%;
    }
}


@media screen and (max-width: 280px) {
    .navbar__absolute {
        flex-direction: column;
    }

    .navbar__absolute h1 {
        margin: 0.2rem 0;
        margin-bottom: 0;
    }
    
    .login__button {
        width: 100%;
        margin: 0.2rem 0;
    }
}