/* Make the navbar fixed at the top of the page */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 1px 5px -4px #000;
}

/* Ensure the navbar content is positioned properly */
.navbar__absolute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* Style for the title */
.navbar h1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0.5rem 0;
}

/* Style for the "Genius" part of the title */
#genius {
    color: #FFC700;
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    font-size: 40px;
}

/* Style for the buttons container */
.navbar__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

/* Hamburger button style */
.hamburger {
    display: inline-block;
    cursor: pointer;
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.open .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.open .bar2 {
    opacity: 0;
}

.hamburger.open .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Dropdown content style */
.dropdown__content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust based on navbar height */
    right: 0; /* Align to the right edge */
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2000; /* Ensure it is on top of other content */
    animation: fadeIn 0.3s ease-in-out;
}

.dropdown__content.show {
    display: flex;
}

/* Style for the login button */
.login__button {
    background-color: #228B22;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
}

/* Style for the register button */
.register__button {
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
}

/* Hover effect for the login button */
.login__button:hover {
    background-color: #175f17;
}

/* Hover effect for the register button */
.register__button:hover {
    background-color: #c5c4c4;
}

/* Animation for dropdown */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive design for screen sizes 550px or less */
@media (max-width: 550px) {
    .navbar__absolute {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar__absolute h1 {
        font-size: 28px;
    }

    #genius {
        font-size: 26px;
    }

    .dropdown__button {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .dropdown__content {
        width: 100%;
        right: 0;
    }
}
