.dashboard {
    margin-top: 5rem !important;
    padding: 0 1rem;
    font-family: "Josefin Sans", sans-serif;
}

.dashboard h1 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.dashboard__overview  {
    margin-top: 2rem;
}

.dashboard__overview h2 {
    margin-left: 1rem;
}

.dashboard__overview-cards {
    background: linear-gradient(90deg, #FFC700 50%, #2a373a 50%);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard__card {
    width: 50%;
    text-align: center;
    justify-self: center;
    font-weight: 900;
}

.dashboard__card h3 {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
}

.dashboard__card p {
    font-size: 1.5rem;
    margin: 0;
}

.dashboard__trans-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.add-income-button {
    border-radius: 5px;
    background-color: #2ca102;
    color: #fff;
}

.add-income-button:hover {
    background-color: #1d6901;
}

.add-expense-button {
    color: #fff;
    background-color: #9B0000;
    border-radius: 5px;
}

.add-expense-button:hover {
    background-color: #660101;
}

.dashboard__savings-pockets {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.dashboard__savings-pockets h2 {
    margin-left: 1rem;
    margin-bottom: 0;
}

.dashboard__pockets-list {
    display: flex;
    flex-direction: column;
}


.dashboard__pocket {
    align-self: center;
    background-color: #2a373a;
    color: #fff;
    width: calc(100% - 2rem);
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
    margin-bottom: 0;
}

.dashboard__pocket h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.dashboard__pocket-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pocket__goal {
    display: flex;
    flex-direction: column;
    background-color: #FFC700;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem 0;
    color: #fff;
    width: 20%;
}

.pocket__deadline {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem 0;
    color: #fff;
    width: 20%;
}

.pocket__saved {
    display: flex;
    flex-direction: column;
    background-color: #9B0000;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem 0;
    color: #fff;
    width: 20%;
}

.pocket__goal p, .pocket__deadline p, .pocket__saved p {
    font-size: 1rem;
    margin: 0;
}

.show-more-button {
    margin-top: 1rem !important;
    align-self: center;
    background-color: #fff;
    border-radius: 5px;
    color: #002855;
    font-family: Josefin Sans, sans-serif;
}

.show-more-button:hover {
    background-color: #B0B0B5;
}

.dashboard__recent-transactions {
    display: flex;
    flex-direction: column;
}

.dashboard__recent-transactions h2 {
    margin-bottom: 0;
    margin-left: 1rem;
}

.dashboard__transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a373a;
    color: #fff;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
}

.dashboard__transaction p {
    font-size: 1rem;
    margin-bottom: 0;
}

.transaction__reason {
    color: #fff;
    width: 20%;
}

.transaction__date {
    color: #a9a9a9;
    width: 40%;
    text-align: center;
}

.transaction__amount {
    width: 20%;
    text-align: end;
}

#income {
    color: #238500;
}

#expense {
    color: #9B0000;
}

.view-transactions-button {
    align-self: center;
    background-color: #fff;
    border-radius: 5px;
    color: #002855;
    font-family: Josefin Sans, sans-serif;
}

.view-transactions-button:hover {
    background-color: #B0B0B5;
}


@media screen and (max-width: 700px) {
    .dashboard__overview-cards {
        border-radius: 0;
        padding: 1rem 0;
    }

    .dashboard__card h3 {
        font-size: 1.2rem;
    }

    .dashboard__card p {
        font-size: 1.2rem;
    }

    .dashboard__trans-btns button {
        font-size: 0.8rem;
    }

    .dashboard__pocket {
        border-radius: 0;
    }

    .dashboard__transaction {
        border-radius: 0;
    }

    .dashboard__pocket-info {
        justify-content: space-between;
    }

    .pocket__deadline {
        width: 25%;
    }

    .pocket__goal {
        width: 25%;
    }

    .pocket__saved {
        width: 25%;
    }

    .pocket__goal p, .pocket__deadline p, .pocket__saved p {
        font-size: 0.8rem;
    }
}