.dashboard {
    margin-top: 5rem !important;
    padding: 0 1rem;
    font-family: "Josefin Sans", sans-serif;
}

.dashboard__overview  {
    margin-top: 2rem;
}

.dashboard__overview-cards {
    background-color: #2a373a;
    border-radius: 5px;
    padding: 1rem;
}

.dashboard__card {
    padding: 0 1rem;
}

.dashboard__card h3 {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
}

.dashboard__card p {
    color: #1AB700;
    font-size: 1.5rem;
}

.dashboard__trans-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
}

.add-income-button {
    border-radius: 5px;
    background-color: #2ca102;
    color: #fff;
}

.add-income-button:hover {
    background-color: #238500;
}

.add-expense-button {
    color: #fff;
    background-color: #9B0000;
    border-radius: 5px;
}

.dashboard__savings-pockets {
    margin-top: 2rem;
}

.dashboard__pockets-list {
    display: flex;
    flex-direction: column;
}


.dashboard__pocket {
    align-self: center;
    background-color: #2a373a;
    color: #ffd700;
    width: calc(100% - 2rem);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.dashboard__pocket h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.dashboard__pocket-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pocket__goal {
    display: flex;
    flex-direction: column;
    background-color: #ffd700;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 1rem;
    width: 20%;
}

.pocket__deadline {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 1rem;
    width: 20%;
}

.pocket__saved {
    display: flex;
    flex-direction: column;
    background-color: #9B0000;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 1rem;
    width: 20%;
}

.pocket__goal p, .pocket__deadline p, .pocket__saved p {
    font-size: 1.2rem;
    margin: 0;
}

.show-more-button {
    margin-top: 1rem !important;
}

.dashboard__transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a373a;
    color: #fff;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.dashboard__transaction p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.transaction__reason {
    color: #ffd700;
    width: 20%;
}

.transaction__date {
    color: #9B0000;
    width: 40%;
    text-align: center;
}

.transaction__amount {
    color: #238500;
    width: 20%;
    text-align: end;
}