.Login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.Login__card {
    width: 20rem;
}

.Login__card h2 {
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 0rem;
}

.Login__messages p {
    margin: 0;
    padding: 0.2rem;
    margin-left: 1rem;
}

.Login__inputs {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.Login__inputs input {
    outline: none;
    outline-color: transparent;
}

.Login__btns {
    display: flex;
    flex-direction: column;
}

.Login__btns a {
    text-align: center;
    margin-bottom: 1rem;
}

.Login__btn {
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.regg__btn {
    border-top: 1px solid #000000;
    text-align: center;
}

.Login__reg-btn {
    border-radius: 5px;
    margin-top: 1rem;
    width: fit-content;
    color: #fff;
    background-color: #228b22;
    font-size: 0.8rem;
}

.Login__reg-btn:hover {
    background-color: #175f17;
}

@media screen and (max-width: 550px) {
    .Login__card {
        width: 80%;
    }
}