.Reg__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.Reg__card {
    width: 25rem;
}

.Reg__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Reg__card h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    align-self: flex-start;
}

.Reg__inputs {
    margin-top: 2rem;
}

.Reg__inputs-password {
    display: flex;
}

.Reg__btn {
    margin-top: 1rem;
}

.Reg__messages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -2rem;
    margin-bottom: -1rem;
    margin-left: 0.5rem; 
}

.Reg__messages p {
    margin: 0;
    padding: 0rem;
}


@media screen and (max-width: 550px) {
    .Reg__form {
        justify-content: flex-start;
        margin-top: 0rem;
    }

    .Reg__card {
        width: 80%;
    }

    .Reg__inputs-password {
        display: flex;
        flex-direction: column;
    }

    .Reg__inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Reg__inputs-name {
        display: flex;
        flex-direction: column;
    }
}